@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@material-symbols/font-400/outlined.css';
@import '@material-symbols/font-700/outlined.css';
@import './theme.css';

@layer base {
  body {
    @apply bg-background-dark text-text-main-dark;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  .material-symbols-outlined-bold {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 0,
      'opsz' 24;
  }
}
