# API
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_DOMAIN=http://localhost:3000

# Database (for ISR)
DATABASE_URL=postgresql://user:password@localhost:5432/affilibuster

# Redis (for caching)
REDIS_URL=redis://localhost:6379
