# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
test-results/
playwright-report/
playwright/.cache/

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo
.turbo

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
